body{
    color: #fff;
    height: 100vh;
    background: url('../img/fondo.png');
    display: grid;
    font-family: Arial, Helvetica, sans-serif ;
    grid-template-rows: 1fr 50% 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    grid-template-areas: 
    " header header header "
    " main main main "
    " footer footer footer ";
}

header{
    display: grid;
    grid-area: header;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    " . titulo . ";
}

        .titulo{
            grid-area: titulo;
            font-size: 60px;
        }
main{
    display: grid;
    grid-area: main;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    " animal logo compatibilidad ";
}
.logo{
    grid-area: logo;
    font-size: 60px;
    
}

.animal{
    grid-area: animal;
    width: 30rem;
    height: 30rem;
}

footer{
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    " nombre explicacion explicacion ";
}
.nombre_animal{
    grid-area: nombre;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    
}
.texto_animal{
    grid-area: explicacion;
    font-size: 1.5rem;
    text-align: justify;
    justify-self: start;
    align-self: center;
    padding: 0 10rem;

}